<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>You can find our celebrities <a href='/celebrities'> here </a></p>
    <p>To add one of your own click <a href='/celebrities/new'> here </a></p>

  </body>
</html>
